/* Font-weight reminder :

300 : Light
400 : Regular
500 : Medium
600 : Semi-bold
700 : Bold
800 : Heavy
900 : Black

*/

$rouge: #cf5b61;
$text-rouge: #4a2123;
$gris: #f2f2f2;
$noir: #303130;
$orange: #fece78;
$trait: #bdb6a6;

$espace: 40px;


@import "reset";
@import "fontfaces";
@import "animate";
@import "breakpoints";
@import "forms";
@import "mail";

%alpha0{
	@include width-above(900px){
		opacity: 0;
	}
	
}

%content-h3{
	font-family: 'Alegreya', serif;
	font-size: 3rem;
	font-weight: 700;
	margin-bottom: 15px;
}

strong{
	font-weight: bold;
}


*{
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
	height: 100%;
}

body{
	font-size: 1.7rem;
	font-family: 'Alegreya sans', Arial, sans-serif;
	font-weight: 400;
	color: $noir;
	background-color: #fff;
	height: 100%;
	overflow-x: hidden;
}

.wrapper{
	max-width: 1300px;
	margin: 0 auto;
}

.classic-h2{

	text-align: center;
	font-family: 'Alegreya', serif;
	font-size: 4.5rem;
	font-weight: 700;

	&:after{
		content:'';
		display: block;
		height: 18px;
		width: 150px;
		margin: 10px auto;

		background: url('../img/arabesque.svg') center no-repeat;
		background-size: 150px 18px;
	}
}

// En-tête

.entete{
	padding: $espace $espace 20px;
	font-family: 'Alegreya', Times, serif;
	font-size: 3rem;
	text-align: center;
	text-transform: uppercase;
	background-color: #fff;

	@include width-below(450px){
		font-size: 2.3rem;
	}

	span{
		color: $rouge;
	}

	&:after{
		content:'';
		display: block;
		height: 18px;
		width: 150px;
		margin: 10px auto;

		background: url('../img/arabesque.svg') center no-repeat;
		background-size: 150px 18px;
	}
}

// Top banner

.top-banner{
	
	height: calc(100% - 128px);
	text-align: center;	
	vertical-align: middle;
	position: relative;

	.bg{
		position: absolute;
		z-index: -100;
		min-height: 100%;
		width: 100%;
		background: url('../img/banner.jpg');
		background-size: cover;
		background-position: center;  


	}

	h2{
		font-size: 14.5rem;
		color: #fff;
		font-family: 'Great Vibes';		
  		text-shadow: 0 0 40px rgba(#000, .75);
  		position: absolute;
  		top: 32%;
  		width: 100%;
  		left: 0;

  		@extend .animated;
  		@extend .fadeInDown;

  		@include width-below(900px){
		    font-size: 9rem;
		    line-height: 7rem;
		    top:15%;
		}

		  @include width-below(350px){
		    font-size: 6rem;
		    line-height: 4rem;
		    top:15%;
		}
	}


}

//L'icone souris

.top-banner:after{
	content: url('../img/souris.svg');
	position: absolute;
	bottom: 40px;
	right: calc(50% - 14px);
	height: 46px;
	width: 28px;
}

.top-banner:before{
	content: url('../img/arrows.svg');
	position: absolute;
	bottom: 95px;
	right: calc(50% - 6px);
	animation: arrow_scroll 1s infinite;
	animation-timing-function: ease-out;
	height: 23px;
	width: 11px;
}

@keyframes arrow_scroll{
	0%{
		bottom: 95px;
	}

	100%{
		bottom: 100px;
	}
} 

.js .top-banner{

	.bg{

		@include width-above(900px){
			min-height: calc(100% - 128px);
			position: fixed;
			top:128px; //à modifier dans le js aussi, sinon saut au scroll
			left:0;
		}
  		
	}
} 

	.date-event{
		font-size: 3.5rem;
		font-family: 'Alegreya sans';
		color: #fff;
		text-transform: uppercase;
		text-shadow: 0 0 20px rgba(#000, .75);
		position: absolute;
		top: calc(42% + 70px);
		left: 0;
		width: 100%;
		text-align: center;

		@extend .animated;
		@extend .fadeInUp;

		animation-delay: .3s;

		@include width-below(900px){
			font-size: 2.5rem;
			top: calc(15% + 160px);
		}

		@include width-below(400px){
			font-size: 2rem;
		}

		span{
			color: $orange;
		}
	}

	.compteur{
		position: absolute;
		bottom: 23%;
		width: 100%;
		left: 0;
		color:#fff;
		text-shadow: 0 0 10px rgba(#000, .75);

		@extend .animated;
		@extend .fadeInUp;

		@include width-below(900px){
			display: none;
		}
	}

	.pre-compteur{
		margin-bottom: .5em;
	}

	.p-compteur{
		font-size: 2.4rem;
		color: $orange;
	}

// Menu

nav{
	background-color: rgba(#fff, .87);
	text-align: center;

		@include width-below(950px){
			display: none;
		}

	&.show{
		@include width-below(950px){
			display: block;
		}
	}

	@include width-below(950px){
			position: absolute;
			z-index: 1000;
			width: 100%;
			top: 0;
	}

	li{
		display: inline-block;
		text-transform: uppercase;

		@include width-below(950px){
			width: 100%;
		}
	}

	a{
		transition: color ease .4s;
		display: block;
		color: rgba(#000, .46);
		text-decoration: none;
		padding: 1.2em;

		@include width-below(950px){
			padding: .9em;
		}

		&:hover{
			color: $rouge;
		}

		&.galerie{
			color: $rouge;
		}
	}

	a.actif{
		font-weight: 700;
		color: $rouge;
	}
}

.bt-menu{
	@include width-above(950px){
		display: none;
	}
}

// Menu accroché en haut

.stuck{
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(#fff, .95);

	@include width-below(950px){
		position: static;
	}
}

.link-disabled{
	color: rgba(#000, .12);
}

// Raccourci réponse

.raccourci-rep{
	background-color: $rouge;
	text-align: center;
	padding: $espace;

	h2{
		font-weight: 300;
		font-size: 3rem;
		color: #fff;
		margin-bottom: .2em;
	}

	p{
		font-size: 2rem;
		font-weight: 500;
		color: $text-rouge;
		margin-bottom: 1.45em;

		span{
			font-size: 1.3em;
		}
	}
}

.js.opacity .raccourci-rep .wrapper{
	@extend %alpha0;
	@extend .animated;

	animation-delay: .15s;
}

	.bt{
		display: inline-block;
		background-color: #f4e6e1;
		padding: .9em 3em;
		text-decoration: none;
		border-radius: 60px;

		font-size: 2rem;
		text-transform: uppercase;
		color: darken($rouge, 20%);
		font-weight: 700;
		box-shadow: 0 4px 0 darken($rouge, 20%);
	}

// Love story

.lovestory{
	background-color: #fff;
	padding: 50px $espace/2 0;


	.date{
		margin-left: 110px;
		text-transform: uppercase;
		color: $rouge;
		margin-bottom: $espace/2;

		@include width-below(1050px){
			margin-left: $espace;
		}

		&:before{
			content: url('../img/calendrier.svg');
			margin-right: 7px;
			position: relative;
			top: 5px;
		}
	}

	h3{
		@extend %content-h3;
	}

	.ligne{
		width: 1px;
		position: absolute;
		background-color: $trait;
		height: 400px;
		left: 50%;

		@include width-below(1050px){
			display: none;
		}
	}
}

.wrapper-lovestory{
	position: relative;
	margin-top: 50px;
}

.evt-lovestory{

	margin-bottom: $espace;
	width: 50%;
	position: absolute;

	@include width-below(1050px){
		width: 100%;
		position: static;
	}

	@include width-above(1050px){

			&::after{ // Le trait horizontal
			content:'';
			display: block;
			height: 1px;
			width: 110px;
			background-color: $trait;
			position: absolute;
			top: calc(50% + 19px); // 19px : (hauteur de la date + margin) / 2
			z-index: -1;
		}

		&::before{ // Le coeur
			content: url('../img/coeur.svg');
			background-color: #fff;
			display: block;
			position: absolute;
			top: calc(50% + 5px); // en fait 50% + 13 (voir en haut) - hauteur du coeur / 2
			border: 10px solid #fff;
			width: 20px;
			height: 17px;
		}



		&:nth-child(even){ // Les events de gauche

			text-align: right;

			left:0;

			.evt-text{
				margin-right: 30px;
			}

			.date{
				margin-right: 100px;
			}

			&::after{ // Le trait horizontal
				right: 0;
			}

			&::before{ // Le coeur
				right: -20px; //la largeur du coeur / 2 + la bordure
			}
		}


		&:nth-child(odd){ // Les events de droite

			right: 0;

			.wrapper-evt{
				margin-left: 10%;
			}

			.evt-text{
				margin-left: 30px;
				order: 2;
			}
			.img-evt{
				order:1;
			}

			&:after{ // Le trait horizontal
				left: 0;
			}

			&:before{ // Le coeur
				left: -20px; //la largeur du coeur / 2 + la bordure
			}
		}

	}




}

.evt1{
	animation-delay: 0;
	top: 0;
}

.evt2{
	top: 150px;
}


.evt3{
	top: 300px;
}

.evt4{
	top: 450px;
}

.js.opacity .evt-lovestory{
	@extend %alpha0;
}

.wrapper-evt{
	max-width: 90%;
	background-color: $gris;
	border-radius: 5px;
	padding: $espace/2 $espace;
	display: flex;
	align-items: center;

	@include width-below(1050px){
		max-width: 100%;
	}

	@include width-below(500px){
		flex-direction: column;
	}


	
}

.img-evt{
	width: 150px;
	height: 150px;

	background-size: cover;
	border-radius: 100%;

	@include width-below(500px){
		order:1;
		margin-bottom: 20px;
	}
}

.evt-text{
	flex: 1;

	@include width-below(500px){
		order:2;
		text-align: center;
	}

	p{
		line-height: 1.3em;
		font-size: 1.5rem;
	}	
}

// Partie "le Mariage"

.mariage{

	padding-top: 100px;
	background-color: #fff;
	position: relative;
	text-align: center;

	&::after{ // Continuation du trait
		content:'';
		display: block;
		width: 1px;
		height: 100px;
		background-color: $trait;
		position: absolute;
		top: 0;
		left: 50%;
	}

	&::before{ // coeur
		content: url('../img/coeur.svg');
		background-color: #fff;
		display: block;
		position: absolute;
		top: 40px;
		left: calc(50% - 20px);
		border: 10px solid #fff;
		z-index: 2;
		width: 20px;
		height: 17px;
	}

	.wrapper{
		background-color: $gris;
		border-radius: 5px;
		padding: $espace;

	}

	.intro-mariage{

		margin-bottom: $espace;

		p{
			max-width: 700px;
			font-size: 2rem;
			line-height: 1.4em;
			text-align: center;
			margin: 30px auto;
		}

		blockquote{
			font-family: 'Great Vibes';	
			color: $rouge;
			font-size: 6rem;
			margin-top: 40px;
		}
	}
}

.etape{
	text-align: left;
	background-color: #fff;
	display: inline-block;
	vertical-align: top;
	border-radius: 5px;

	width: calc(50% - #{$espace/2};

	@include width-below(700px){
		display: block;
		width: 100%;
		margin: 0 0 $espace 0 !important;
	}

	&:nth-child(1){
		margin-right: $espace/2;
	}

	&:nth-child(2){
		margin-left: $espace/2;
	}

	.img-etape{
		height: 350px;
		background-size: cover;
		background-position: center;
		border-radius: 5px 5px 0 0;
	}

	.wrapper-etape{
		padding: $espace;
	}

	h3{
		@extend %content-h3;
	}

	p{
		line-height: 1.4em;
		margin-bottom: .5em;
	}
}

.horaire{
	text-transform: uppercase;
	color: $rouge;
	margin-bottom: 1em;

			&:before{
			content: url('../img/calendrier.svg');
			margin-right: 7px;
			position: relative;
			top: 5px;
		}
}

.js.opacity .etape{

	@extend %alpha0;

	&.etape2{
		animation-delay: .5s;
	}
}


//Repas

.repas-uniquement{
	background-color: #fff;
	padding-top: 100px;

	h2{
		padding: 0 $espace;
	}
}

.content-repas{
	background-color: $gris;
	padding: $espace;
	margin-top: $espace;
	border-radius: 5px;
	display: flex;
	align-items: center;

	@include width-below(1000px){
		display: block;
	}


	h3{
		@extend %content-h3;
	}

	p{
		line-height: 1.4em;
		margin-bottom: .5em;
	}

}

.repas-uniquement .img-etape{
	background: url('../img/photo-repas.jpg');
	background-size: cover;
	background-position: center center;
	width: 33%;
	border-radius: 4px 0 0 4px;
	min-height: 250px;

	@include width-below(1000px){
		width: 100%;
		min-height: 350px;
	}
}

.contenu-repas{
	background-color: #fff;
	border-radius: 0 4px 4px 0;
	padding: $espace;
	flex: 1;
	height: 100%;
	min-height: 250px;
	vertical-align: middle;
}


	.list-cordo{
		margin-top: 10px;
			li{
		line-height: 1.4em;
		text-align: center;
		color: #5C1B1E;
	}

	a{
		color: inherit;
	}
	}










//Dormir

.dormir{
	background-color: #fff;
	text-align: center;
	position: relative;
	padding: 100px $espace $espace;

	&::after{ // Continuation du trait
		content:'';
		display: block;
		width: 1px;
		height: 100px;
		background-color: $trait;
		position: absolute;
		top: 0;
		left: 50%;
	}

	&::before{ // coeur
		content: url('../img/coeur.svg');
		background-color: #fff;
		display: block;
		position: absolute;
		top: 40px;
		left: calc(50% - 20px);
		border: 10px solid #fff;
		z-index: 2;
	}

	h2{
		margin-bottom: 30px;
	}

	p{
		max-width: 800px;
		margin: 0 auto;
		font-size: 2rem;
		line-height: 1.4em;
		margin-bottom: .5em;

		span{
			color: $rouge;
		}
	}

	em{
		font-style: italic;
		color: #9d9d9d;
	}

	.conditions{

		p{
			font-style: italic;
			color: #7f7f7f;
		}
			margin-top: $espace;

	}
}

.js.opacity .dormir{
	@extend %alpha0;
	animation-delay: .2s;
}

.reponse{
	margin-top: 60px;
	background-color: $rouge;
	padding: $espace;
	color: #fff;

	input:not([type="submit"]),
	textarea{
		font-size: 1.7rem;
		font-family: 'Alegreya sans', Arial, sans-serif;
		font-weight: 400;
		color: $noir;
		padding: .7em 1.2em;
		border-radius: 5px;
		border: 0;
	}

	.sous-h2{
		text-align: center;
		font-size: 2rem;
		color: darken($rouge, 35%);
	}

	form{
		max-width: 700px;
		margin: $espace auto;
	}

	label{
		text-transform: uppercase;
		font-size: 1.4rem;
		margin-bottom: 10px;
	}

	.wrapper-form{
		display: flex;

		@include width-below(600px){
			display: block;
		}

		.group-form{
			flex:1;
			margin-bottom: 25px;
		}

		.group-form:nth-child(1){
			margin-right: 20px;

			@include width-below(600px){
				margin-right: 0;
			}
		}

		input[type="text"],
		input[type="email"]{
			width: 100%;
		}

	}

	.group-form{
		label{
			display: block;
		}
	}

	.group-margin{
		margin-bottom: 30px;
	}

	.checkbox_accompagnant{
		margin-top: 40px;
		margin-bottom: 25px;
	}

	textarea{
		display: block;
		width: 100%;
		min-height: 50px;
		resize: vertical;
		height: auto;
	}

	.resa{
	
		margin-bottom: 25px;

		label{
			display: inline-block;
		}

		span{
			text-transform: uppercase;
			font-size: 1.4rem;
		}

		input[type="checkbox"] + label{
			margin-right: 0;
		}

		input[type="number"]{
			padding: 0.7em;
			width: 70px;
			text-align: center;
			margin: 0 .7em;
		}
	}
	
	.wrapper-submit{
		text-align: center;
	}

	input[type="submit"]{
		border: 0;
		margin-top: 30px;
		font-size: 2rem;
	}

	.message{
		margin-top: 25px;
	}

	.bt{
		@include width-below(600px){
			font-size: 1.5rem !important;
		}
	}

}

.js{
	.checkbox_accompagnant,
	.nom-accompagnants,
	.group-chambre{
		display: none;
	}
} 


.wrapper-fin{
	display: flex;

	@include width-below(600px){
		display: block;
	}
}

// liste

.liste{

	padding: $espace;
	flex: 1;

	p{
		line-height: 1.4em;
		margin-bottom: .5em;
		text-align: center;
	}

	p + p{
		font-weight: 900;
	}
}

// dresscode

.dresscode{
	background-color: $gris;
	padding: $espace;
	flex: 1;

	p{
		line-height: 1.4em;
		margin-bottom: .5em;
		text-align: center;
	}
}

//LOAD

.load{
	display: none;
	position: fixed;
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   background-color: #fff;
   z-index: 500; 
   padding-top: 100px;

   .entete p{
   		text-transform: none;
   		margin-top: 20px;
   }

   h1{
   	font-size: 4rem;
   }

   .heart{

   	text-align: center;
   	display: block;

	svg{
		height: 50px;
		width: 50px;

		animation: heart 1s infinite;
		animation-timing-function: ease-out;
	}

   }

   .heart path{
		fill: $rouge;
   }
}

@keyframes heart{

	0%{
		transform: scale(1);
	}

	100%{
		transform: scale(1.4);
	}
}

.ie *{
	opacity: 1 !important;
}
